<a href="https://colab.research.google.com/github/adenugroho/fuzzy/blob/main/Dian%20Ade%20-%20G.241.22.0002%20-%20FUZZY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
def turun(b,a,x):
    if(x<=a):
        nilai = 1
    elif(x>a and x<b):
        nilai = (b-x)/(b-a)
    elif(x>=b):
        nilai = 0

    return nilai

In [21]:
def naik(b,a,x):
    if(x<=a):
        nilai = 0
    elif(x>a and x<b):
        nilai = (x-a)/(b-a)
    elif(x>=b):
        nilai = 1

    return nilai

In [22]:
def agregasi_turun(b,a,alfa):
    nilai = b - (alfa*(b-a))
    return nilai

In [23]:
def agregasi_naik(b,a,alfa):
    nilai = alfa*(b-a) + a
    return nilai

In [24]:
var = int(input("Jumlah variabel: "))

nama_var = []
for i in range(var):
    nama = input("Sebutkan nama variabel: ")
    nama_var.append(nama)

Jumlah variabel: 3
Sebutkan nama variabel: mahasiswa
Sebutkan nama variabel: magang
Sebutkan nama variabel: lulus

In [25]:
variabel = dict()
for i in nama_var:
    print(i)
    up = int(input("naik : "))
    down = int(input("turun : "))
    variabel.update({i+"_naik":up})
    variabel.update({i+"_turun":down})

print(variabel)

mahasiswa
naik : 8000
turun : 6000
magang
naik : 5000
turun : 4500
lulus
naik : 6000
turun : 5000
{'mahasiswa_naik': 8000, 'mahasiswa_turun': 6000, 'magang_naik': 5000, 'magang_turun': 4500, 'lulus_naik': 6000, 'lulus_turun': 5000}

In [26]:
soal = dict()

jml = int(input("Jumlah variabel yang diketahui : "))

for i in range(jml):
    ver = input("Nama variabel : ")
    val = int(input("Nilai : "))
    soal.update({ver:val})

print(soal)

dit = input("Variabel yang ditanyakan : ")

Jumlah variabel yang diketahui : 2
Nama variabel : mahasiswa
Nilai : 4000
Nama variabel : magang
Nilai : 3000
{'mahasiswa': 4000, 'magang': 3000}
Variabel yang ditanyakan : lulus

In [27]:
nk = dict()
for i in soal:
    up = naik(variabel[i+"_naik"],variabel[i+"_turun"],soal[i])
    down = turun(variabel[i+"_naik"],variabel[i+"_turun"],soal[i])
    nk.update({i+"_naik":up})
    nk.update({i+"_turun":down})

print(nk)

{'mahasiswa_naik': 0, 'mahasiswa_turun': 1, 'magang_naik': 0, 'magang_turun': 1}

In [31]:
#AGREGASI
alfa = []
z = []

r = int(input("Masukkan jumlah peraturan : "))

for i in range(r):
    kondisi1 = input("Kondisi 1(naik/turun): ")
    kondisi2 = input("Kondisi 2(naik/turun): ")
    kesimpulan = input("Kesimpulan(naik/turun): ")
    #Fire Strength INTERSEKSI (AND)
    a = min(nk[kondisi1],nk[kondisi2])
    alfa.append(a)
    if(kesimpulan == "turun"):
        zz = agregasi_turun(variabel[dit+"_naik"],variabel[dit+"_turun"],a)
    elif(kesimpulan == "naik"):
        zz = agregasi_naik(variabel[dit+"_naik"],variabel[dit+"_turun"],a)
    z.append(zz)

Masukkan jumlah peraturan : 4
Kondisi 1(naik/turun): mahasiswa_naik
Kondisi 2(naik/turun): magang_naik
Kesimpulan(naik/turun): naik
Kondisi 1(naik/turun): mahasiswa_naik
Kondisi 2(naik/turun): magang_turun
Kesimpulan(naik/turun): turun
Kondisi 1(naik/turun): mahasiswa_turun
Kondisi 2(naik/turun): magang_naik
Kesimpulan(naik/turun): naik
Kondisi 1(naik/turun): mahasiswa_turun
Kondisi 2(naik/turun): magang_turun
Kesimpulan(naik/turun): turun

In [32]:
print(alfa)
print(z)

[0, 0, 0, 1]
[5000, 6000, 5000, 5000]

In [33]:

df = 0

for i in range(len(alfa)):
    df += alfa[i]*z[i]

defuz = int(df/sum(alfa))

print("Jadi, nilai ",dit," adalah ",defuz)

Jadi, nilai  lulus  adalah  5000